html,body,h1,h2,h3,h4,h5,h6,p,ul,li { margin:0; padding:0; border:0; }

html {
	background-color:#ccc;
	color:#404040;
	font-size:14px;
	text-shadow:0 1px 0 #fff;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#wrapper {
	background-color:#f2f2f2;
	height:300px;
	width:500px;
	padding:20px;
	border-radius:10px;
	box-shadow:0 5px 5px rgba(0,0,0,.2);
	-webkit-box-shadow:0 2px 5px rgba(0,0,0,.2);
	margin:10px auto 0;
}

h1 {
	margin:0 auto;
	text-align: center;
	width:400px;
	padding-bottom:20px;
}

ul#graph-me {
	margin:0 auto;
}